<html>
<head>
<title>news.OpenBSD.ru</title>
</head>
<body bgcolor="white">

<a href="http://www.openbsd.org"><img src="images/smalltitle.gif" alt="Logo" border="0"></a>

<hr>

<table width="100%" cellpadding="0" cellspacing="5" border="0">
<tr>
<td width="10%" valign="top">
  <table cellpadding="0" cellspacing="0" border="0" width="100%" >
  <tr bgcolor="#3F4469" align="LEFT">
    <td valign="top" align="center">
      <font size="2" color="white"><b>Рассылка</b></font>
  </tr>
  <tr>
    <td><small>
        <a href="http://mail.openbsd.ru/lists/openbsd/{YEAR_MONTH}/">openbsd</a> <font color="red">({OPENBSD_COUNT})</font><br>
    </small></td>
  </tr>
  </table>
  <br>
  <table cellpadding="0" cellspacing="0" border="0" width="100%" >
  <tr bgcolor="#3F4469" align="LEFT">
    <td valign="top" align="center">
      <font size="2" color="white"><a href=""><b><font color="white">Архив</font></b></a></font>
  </tr>
  <tr>
    <td><small>
        <a href="">2002 Июл</a> (12)<br>
	<a href="">2002 Июн</a> (32)<br>
	<a href="">2002 Май</a> (54)<br>
	<a href="">2002 Апр</a> (8)<br>
	<a href="">2002 Мар</a> (2)<br>
	<a href="">2002 Феб</a> (15)<br>
  </small></td>
  </tr>
</table>
</td>
<td valign="top" width="80%">
  <table cellpadding="0" cellspacing="0" border="0" width="100%" >
    <tr bgcolor="#3F4469" align="LEFT">
      <td valign="top" align="center">
        <font size="2" color="white"><b>Последние новости</b></font>
      </td>
    </tr>
    <tr>
      <td>
        <a href="">{TEST}</a>
      </td>
    </tr>
</table>
</td>

<td widht="10%" valign="top">
  <table cellpadding="0" cellspacing="0" border="0" width="100%" >
    <tr bgcolor="#3F4469" align="LEFT">
      <td valign="top" align="center">
        <font size="2" color="white"><b>Советы</b></font>
      </td>
    </tr>
    <tr>
      <td><small>
        Лето! Даешь рыбалку!
      </small></td>
    </tr>
  </table>
<br>
  <table cellpadding="0" cellspacing="0" border="0" width="100%" >
    <tr bgcolor="#3F4469" align="LEFT">
      <td valign="top" align="center">
        <font size="2" color="white"><b>Опрос</b></font>
      </td>
    </tr>
    <tr>
      <td>
        <FORM method="POST" action="pollVote">
          <input type=hidden name=question_id value=$poll.getId()>
          <small><b><a href="voteresults?m=$poll.getId()">Test?</a></b>
            <br><br>
              &nbsp;&nbsp;<input type="radio" name="answer" value="$answer.getId()">  Yes!<br>
            <br><center>
            <input type="submit" name="Vote" value="Голосовать">
            </center>
          </small>
        </FORM>
      </td>
    </tr>
  </table>

</td>
</table>

<p>
<hr>
<img align="right" alt="OpenBSD Power" src="images/openbsd_pb.gif">
<small>
<em>Copyright &copy; 2000-2002 OpenBSD.ru.</em>
<a href="mailto:www@openbsd.ru">www@openbsd.ru</a><br>
$RuOBSD: index.tmpl,v 1.2 2002/07/15 12:12:17 cruz Exp $
</small>

</body>
</html>

